<div class="navbar" style="margin-bottom:5px;">
    <div class="navbar-inner">
        <div class="brand">Applications</div>
        <div class="btn-group pull-right">
            <a ng-click="goToImport()" class="btn btn-small">
                <li class="icon-upload-alt"></li>
                Import New App
            </a><a ng-click="promptForNew()" class="btn btn-small">
            <li class="icon-plus-sign-alt"></li>
            Create New App</a>
        </div>

    </div>
</div>
<table style="width:100%">
    <tr>
        <td id="item-list" style="vertical-align:top;" class="well">
            <div id="grid-table">
                <table id="app-list" class="table table-hover table-striped" >
                    <thead>
                    <tr>
                        <th>My Apps</th>

                        <th class="no-border"><a class="btn btn-inverse btn-small pull-right" title="Refresh list"
                                                 ng-click="reload()"><i
                                class="icon-refresh"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="app in Apps.record" id="row_{{app.id}}">
                        <td ng-click="showDetails()">{{app.name}}</td>
                        <td class="no-border">
                            <div class="btn-group pull-right">
                                <a ng-show="app.launch_url != null && app.launch_url !=''" class="btn btn-small btn-inverse" title="Preview this app"
                                   ng-click="showAppPreview(app.launch_url)"><i
                                        class="icon-eye-open"></i></a>
                                <a ng-hide="!app.storage_service_id" class="btn btn-small btn-inverse"
                                   title="Manage app files" ng-click="showFileManager()"><i
                                        class="icon-folder-open"></i></a>
                                <a class="btn btn-small btn-inverse" title="Delete this app" ng-click="delete()"><i
                                        class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="app-details" class="well">
            <div class="alert alert-info" ng-show="action=='Create' || action=='Update'">
                <li class="icon-info-sign"></li>
                DreamFactory makes it easy to build and deploy applications by providing all the back-end
                infrastructure. Use this tab to manage your apps. You may also download a customized Javascript SDK once your app is created.<br/>
                <a data-ng-show = "action == 'Update'" data-ng-click="downloadSDK()" class="btn btn-small">
                    <li class="icon-download-alt"></li>
                    Download JS SDK
                </a>
            </div>
            <h3>{{action}} application</h3>

            <div>

                <div class="add_new">
                    <div id="file-manager">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="app-preview">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="step1">
                        <div id="context-root" class="local">
                            <label><b>App Name</b></label> <input ng-disabled="action=='Update'" type="text" ng-model="app.api_name">
                            <div class="alert alert-info">This is your API KEY (X-DreamFactory-Application-Name)</div>
                        </div>
                        <!--<label><i class="icon-mobile-phone icon-2x"></i>&nbsp;<b>Native?</b></label>-->
                        <!--<input type="checkbox" ng-model = "app.native"/>&nbsp;&nbsp;My application's files are on a native device / client.-->
                        <!--<br/><br/>-->
                        <div class="options">
                            <label><i class="icon-hdd icon-2x"></i>&nbsp;<b>Where will this app live?</b></label>
                            <input type="radio" ng-model="app.is_url_external" value='0'/>&nbsp;&nbsp;Use our default app storage service or one of your own.
                            <br/><input type="radio" ng-model="app.is_url_external" value='-1'/>&nbsp;&nbsp;On a native device or remote client / desktop.
                            <br/><input type="radio" ng-model="app.is_url_external" value='1'/>&nbsp;&nbsp;I will just supply a URL to point to my application.


                            <br/><br/><input ng-show="app.is_url_external==1" placeholder="http://www.myserver.com/"
                                             name="app_path" type="text"
                                             ng-model="app.url">

                            <div ng-show="app.is_url_external == 1" class="alert alert-success">Your URL will be:
                                {{app.url}}
                            </div>
                            <p ng-hide="app.is_url_external!=0" id="remote_storage">Choose where you want your files for this app stored.  The app service is our default storage service.</p>
                            <label ng-hide="app.is_url_external!=0">Storage Service</label>
                            <select ng-change="loadStorageContainers()" ng-hide="app.is_url_external!=0" ng-model="app.storage_service_id">
                                <option ng-selected = "service.id == app.storage_service_id" value = {{service.id}}  ng-repeat = "service in storageServices">{{service.api_name}}</option>
                            </select>
                            <label ng-hide="app.is_url_external != 0">Storage Container</label>
                            <select ng-hide="app.is_url_external != 0" id="storage_options" ng-model="app.storage_container"
                                    ng-options="option.name as option.name for option in storageOptions">
                            </select>

                        </div>


                        <div ng-hide="app.is_url_external != 0">
                            <p><b>Public name on LaunchPad</b></p>
                            <input type="text" ng-model="app.name">
                        </div>
                        <div ng-hide="app.is_url_external != 0">
                            <p><b>Public description on LaunchPad</b></p>
                            <input name="app_desc" type="text" ng-model="app.description" style="width:75%;">
                        </div>
                        <div ng-show="app.is_url_external==0 && app.is_url_external != 0">
                            <p><b>Default Path</b></p>

                            <div class="alert alert-info local">
                                <li class="icon-info-sign"></li>
                                &nbsp;This is the default file to load when your app is loaded.
                            </div>
                            <input class="local" placeholder="/index.html" name="app_path" type="text"
                                   ng-model="app.url">


                            <div ng-show = "app.is_url_external==0"  class="alert alert-success local">
                                <li class="icon-cloud"></li>
                                &nbsp;Your URL will be:
                                {{currentServer}}/{{storageContainers[app.storage_service_id].name}}/{{app.storage_container}}/{{app.api_name}}<span>{{app.url}}</span>
                            </div>

                        </div>
                        <div class="form-inline" ng-hide="app.is_url_external != 0">
                            <input type="checkbox" ng-checked="app.requires_fullscreen == 1"
                                   ng-model="app.requires_fullscreen">&nbsp;Run Full Screen without Toggle
                        </div><br/>
                        <div class="form-inline" ng-hide="app.is_url_external != 0">
                            <input type="checkbox" ng-checked="app.allow_fullscreen_toggle == 1"
                                   ng-model="app.allow_fullscreen_toggle">&nbsp;Show Full Screen with Toggle
                        </div>
                        <div ><br/>
                            <p><b>Assign this app to a role(s).</b></p>

                            <div class="alert alert-info">
                                <li class="icon-info-sign"></li>
                                Each user who is assigned to one of the selected roles will have access to this app. Go
                                to the Roles tab to create and manage roles.
                            </div>
                            <table class="table table-hover table-striped table-bordered">

                                <tr ng-repeat="role in Roles.record" id="row_{{role.id}}">
                                    <td><input ng-click="addRoleToApp($event.target.checked)" ng-checked="isAppInRole()"
                                               type="checkbox"/></td>
                                    <td style="width:100%">{{role.name}}</td>

                                </tr>


                            </table>


                        </div>


                    </div>


                    <div id="alert_container">
                        <div ng-repeat="alert in alerts" class="alert">
                            <button onclick="$('.alert').fadeOut();" type="button" class="close">&times;</button>
                            <strong>{{alert.message}}</strong>
                        </div>
                    </div>

                    <div data-ng-show="action=='Create'" id="create_button"><a ng-click="create()" class="btn btn-primary">
                        <li class="icon-circle-arrow-right"></li>
                        &nbsp;Create Application</a></div>
                    <div id="update_button" data-ng-show="action=='Update'"><a ng-click="save()" class="btn btn-primary">
                        <li class="icon-save"></li>
                        &nbsp;Update Application</a></div>


                </div>
            </div>

        </td>
    </tr>
</table>
<iframe style="display:none" id="sdk-download" src=""></iframe>
