<table style="width:100%" ng-controller="AppCtrl">
    <tr>
        <td id="item-list" class="well">
            <div id="grid-table">
                <table id="app-list" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>App Label</th>

                        <th class="no-border"><a class="btn btn-inverse btn-small pull-right" ng-click="reload()"><i
                                class="icon-refresh"></i></a></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="app in Apps.record" id="row_{{app.id}}">
                        <td ng-click="showDetails()">{{app.name}}</td>
                        <td class="no-border">
                            <div class="btn-group pull-right">
                                <a class="btn btn-small btn-inverse" ng-click="showAppPreview()"><i
                                        class="icon-eye-open"></i></a>
                                <a ng-show="app.is_url_external == 0" class="btn btn-small btn-inverse"
                                   ng-click="showFileManager()"><i
                                        class="icon-folder-open"></i></a>
                                <a class="btn btn-small btn-inverse" ng-click="delete()"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="app-details" class="well">
            <div class="navbar">
                <div class="navbar-inner"><div class="brand">Applications</div>
                    <div class="btn-group pull-right">
                        <a ng-click="goToImport()" class="btn btn-small">
                            <li class="icon-upload-alt"></li>
                            Import New App
                        </a><a ng-click="promptForNew()" class="btn btn-small">
                        <li class="icon-plus-sign-alt"></li>
                        Create New App</a>
                    </div>
                </div>
            </div>
            <div>

                <div class="add_new">
                    <h5 class="text-info">{{action}} application </h5>

                    <div id="file-manager">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="app-preview">
                        <iframe style="display:none" frameBorder=0 ng-src=""></iframe>
                    </div>
                    <div id="step1">
                        <div class="section">
                            <p>Is this hosted locally on this server or externally?</p>

                            <select name="app_location" ng-model="app.is_url_external">
                                <option value='0' ng-click="showLocal()">Local</option>
                                <option ng-click="hideLocal()" value='1'>External</option>
                            </select>
                        </div>
                        <div id="context-root" class=" section local">
                            <p>Application Path eg: myApp </p>

                            <div class="alert alert-info">
                                <li class="icon-info-sign"></li>
                                &nbsp;This will be your context root and cannot be changed.
                            </div>
                            <input ng-disabled="action=='Update'" type="text" ng-model="app.api_name">
                        </div>
                        <div class="section external">
                            <p>Application Name</p>
                            <input type="text" ng-model="app.api_name">
                        </div>
                        <div class=" section">
                            <p>Public name for this App </p>
                            <input type="text" ng-model="app.name">
                        </div>
                        <div class=" section">
                            <p>Public description for this App </p>
                            <input name="app_desc" type="text" ng-model="app.description">
                        </div>
                        <div class=" section">
                            <p>Default Path</p>

                            <div class="alert alert-info local">
                                <li class="icon-info-sign"></li>
                                &nbsp;This is the default file to load when your app is loaded.
                            </div>
                            <div class="alert alert-info external">
                                <li class="icon-info-sign"></li>
                                &nbsp;This is the external link to your app.
                            </div>
                            <input class="local" placeholder="/index.html" name="app_path" type="text"
                                   ng-model="app.url">
                            <input class="external" placeholder="http://www.myserver.com/" name="app_path" type="text"
                                   ng-model="app.url">

                            <div class="alert alert-success local">
                                <li class="icon-cloud"></li>
                                &nbsp;Your URL will be:
                                {{currentServer}}/app/{{app.api_name}}<span>{{app.url}}</span></div>
                            <div class="alert alert-success external">Your URL will be:
                                {{app.url}}
                            </div>
                        </div>
                        <div class="section form-inline">
                            <input type="checkbox" ng-model="app.requires_fullscreen">&nbsp;Run Full Screen
                        </div>
                        <div class="section">
                            Assign this app to a role(s).

                            <table class="table table-hover table-striped table-bordered">

                                <tr ng-repeat="role in Roles.record" id="row_{{role.id}}">
                                    <td><input ng-click="addRoleToApp($event.target.checked)" ng-checked="isAppInRole()"
                                               type="checkbox"/></td>
                                    <td style="width:100%">{{role.name}}</td>

                                </tr>


                            </table>


                        </div>


                    </div>


                    <div id="alert_container">
                        <div ng-repeat="alert in alerts" class="alert">
                            <button onclick="$('.alert').fadeOut();" type="button" class="close">&times;</button>
                            <strong>{{alert.message}}</strong>
                        </div>
                    </div>

                    <div id="create_button"><a ng-click="create()" class="btn btn-primary">
                        <li class="icon-circle-arrow-right"></li>
                        &nbsp;Create Application</a></div>
                    <div id="update_button"><a ng-click="save()" class="btn btn-primary">
                        <li class="icon-save"></li>
                        &nbsp;Update Application</a></div>


                </div>
            </div>

        </td>
    </tr>
</table>

