<h4>Import App from Package File</h4>
<div class="well" style=" height: 80%;padding: 10px;position: absolute;width: 100%;">
    <div class="section">
        <h5>Choose a local .dfpkg file to import</h5>
        <form class="form-inline" id="import-file-form" name="import-file-form"  ng-controller = 'FileCtrl' action="/rest/system/app/?app_name=admin" method="POST" enctype="multipart/form-data" target="importFileIframe">
            <input id="fileInput" type="file" name="files" style="width:300px;"/><button ng-click='importPackageFile()' class="btn btn-primary">Import</button>
        </form>
        <iframe style="display:none" frameBorder="0" id="importFileIframe" name="importFileIframe" src="about:blank" onload="checkResults(this)" width="100%" height="70px"></iframe>
    </div>
    <div class="section">
        <h5>OR enter the URL for a .dfpkg file to import</h5>
        <form class="form-inline" id="import-url-form" name="import-url-form"  ng-controller = 'FileCtrl' action="/rest/system/app/?app_name=admin" method="POST" target="importUrlIframe">
            <input id="urlInput" type="text" name="url" style="width:50%;"/>&nbsp;<button ng-click='importPackageUrl()' class="btn btn-primary">Import</button><br/>
            <div>
                <br/>
                <p>Sample apps on <a href="https://github.com/dreamfactorysoftware">github/dreamfactorysoftware</a>:</p>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-todo-jquery/raw/master/todojquery.dfpkg')">Todo List jQuery</a>
                - Learn how to authenticate and make CRUD calls to your DSP using the JavaScript SDK.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-todo-angular/raw/master/todoangular.dfpkg')">Todo List AngularJS</a>
                - The Todo List app with AngularJS.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-todo-sencha/raw/master/todosencha.dfpkg')">Todo List Sencha</a>
                - The Todo List app with Sencha Touch (phone/tablet only).<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-calendar/raw/master/calendar.dfpkg')">Calendar</a>
                - Another sample application showing how to perform CRUD operations on your DSP.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-address-book/raw/master/add_min.dfpkg')">Address Book</a>
                - An address book for mobile and desktop written by Modus Create. Based on Sencha Touch and Ext JS.
            </div>
        </form>
        <iframe style="display:none" frameBorder="0" id="importUrlIframe" name="importUrlIframe" src="about:blank" onload="checkResults(this)" width="100%" height="70px"></iframe>
    </div>
</div>