<h4>Import App from Package File</h4>
<div class="well" style=" height: 80%;padding: 10px;position: absolute;width: 100%;">
    <div class="section">
        <h5>Choose a local .dfpkg file to import</h5>
        <form class="form-inline" id="import-file-form" name="import-file-form"  ng-controller = 'FileCtrl' action="/rest/system/app/?app_name=admin" method="POST" enctype="multipart/form-data" target="importFileIframe">
            <input id="fileInput" type="file" name="files" style="width:300px;"/><button ng-click='importPackageFile()' class="btn btn-primary">Import</button>
        </form>
        <iframe style="display:none" frameBorder="0" id="importFileIframe" name="importFileIframe" src="about:blank" onload="checkResults(this)" width="100%" height="70px"></iframe>
    </div>
    <div class="section">
        <h5>OR enter the URL for a .dfpkg file to import</h5>
        <form class="form-inline" id="import-url-form" name="import-url-form"  ng-controller = 'FileCtrl' action="/rest/system/app/?app_name=admin" method="POST" target="importUrlIframe">
            <input id="urlInput" type="text" name="url" style="width:300px;"/>&nbsp;<button ng-click='importPackageUrl()' class="btn btn-primary">Import</button><br/>
            <div>
                <br/>
                <p>Sample apps on https://github.com/dreamfactorysoftware:</p>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-helloworld/raw/master/helloworld.dfpkg')">Hello World</a>
                - A tiny sample application showing how to make a single RESTful call to your DreamFactory Services Platform (DSP).<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-todo-angular/raw/master/todoangular.dfpkg')">Todo List AngularJS</a>
                - A simple AngularJS application showing how to create, update, and delete database records on your DSP.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-calendar/raw/master/calendar.dfpkg')">Calendar</a>
                - Another sample application showing how to perform CRUD operations on your DSP.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-swagger/raw/master/swagger.dfpkg')">Live API Docs</a>
                - Live API documentation for the DreamFactory Services Platform, built with Swagger.<br/>
                <a href="" onclick="$('#urlInput').val('https://github.com/dreamfactorysoftware/app-address-book/raw/master/add_min.dfpkg')">Address Book</a>
                - An address book for mobile and desktop written by Modus Create. Based on Ext JS and Sencha Touch 2.
            </div>
        </form>
        <iframe style="display:none" frameBorder="0" id="importUrlIframe" name="importUrlIframe" src="about:blank" onload="checkResults(this)" width="100%" height="70px"></iframe>
    </div>
</div>