<div class="well main">
    <div class="navbar">
        <div class="navbar-inner condensed">
            <div class="brand">QuickStart</div>
        </div>
    </div>
    <div ng-show="step == 1">Give your app a name :&nbsp;
        <input type="text" class="input-large" data-ng-model="app.api_name">

        <div class="alert alert-info">This is your API KEY. Pass as header : X-DreamFactory-Application-Name, or as
            app_name in your querystring on each request.
        </div>
        <br/>
        What kind of app are you building?<br>
        <input type="radio" value=0 data-ng-model="app.native">&nbsp;HTML 5 / Javascript<br/>
        <input type="radio" value=1 data-ng-model="app.native">&nbsp;Native
       <span id="native-list">
           <span class="icon icon-apple"></span>
           <span class="icon icon-android"></span>
           <span class="icon icon-windows"></span>
       </span>

        <br/><br/>

        <button class="btn btn-success" data-ng-disabled="!app.api_name" data-ng-click="setStep(2)">Next</button>
    </div>
    <div ng-show="step == 2">
        Where do you intend on developing?
        <br/></br>
        <input type="radio" value=0 data-ng-model="app.storage_service_id"> In my local environment<br/>
        <input type="radio" value=1 data-ng-model="app.storage_service_id"> Here on the DSP<br/>
        <div class="alert alert-info">If you plan to work locally, make sure your CORS settings are set accordingly. *
            for the file system, or your server name.<button class="btn btn-primary" data-ng-click="showCORS()">Show CORS Config</button>
        </div>
        <div class="section" id="cors-section" style="display:none">
            <h5>CORS Access</h5>
            <label>Choose which hosts have cross domain access to your DSP</label>
            <button ng-click="promptForNew()" class="btn btn-success"><li class="icon-add"></li> Add New Host</button>
            <br/><br/>
            <table id="cors-list" class="table table-hover table-striped">

                <tbody>
                <tr>
                    <th></th>
                    <th>Host</th>
                    <th>Allowed Verbs</th>
                    <th>Enabled</th>

                </tr>

                <tr ng-repeat="host in Config.allowed_hosts">
                    <td>
                        <li ng-click="removeHost()" class="btn btn-danger icon-remove"></li>
                    </td>
                    <td><input placeholder="Enter Host Name" type="text" ng-model="host.host"/></td>
                    <td>
                        <label><input ng-click="selectAll($event)"  ng-checked="host.verbs.length == allVerbs.length" type="checkbox"/>&nbsp;ALL</li></label>
                        <label ng-repeat = "verb in allVerbs"><input ng-click="toggleVerb()" ng-disabled="host.verbs.length == allVerbs.length" ng-checked="host.verbs.indexOf(verb) != -1 " type="checkbox"/>&nbsp;{{verb}}</label>
                    </td>
                    <td>
                        <input type="checkbox" ng-model="host.is_enabled"/>
                    </td>

                </tr>
            </table>


            <!--<input type="text" placeholder="Enter Host Name" ng-model="CORS.host.name"/>-->
            <!--<button cls="btn btn-primary" ng-click="addHost()">Add Host</button>-->
        </div>
        <div class="btn-group">
            <button class="btn" data-ng-click="setStep(1)">Previous</button>
            <button data-ng-disabled = "!app.storage_service_id" class="btn btn-success" data-ng-click="saveConfig();create();setStep(3)">Next</button>
        </div>
    </div>
    <div ng-show="step == 3">
        <div ng-show="!app.native">Download the javascript-sdk<br/>

            <p>
                If you'd like to use our javascript-sdk, which we've just created for this DSP and app, click the
                download button below.
                <br/>

            </p></div>
        <br/>

        <div class="btn-group">
            <button class="btn" data-ng-click="setStep(2)">Previous</button>
            <button data-ng-click="downloadSDK();setStep(4)" class="btn btn-primary">Download SDK</button>
            <button class="btn btn-success" data-ng-click="setStep(4)">Skip To Development Info</button>
        </div>
    </div>
    <div ng-show="step == 4">
        <div class="alert alert-info"><b>Important Notes</b></div>
        <p>
            Use of our API requires SSL3.  If you plan on making requests from Curl, or your Native SDK, make sure you are using version 3.
            <br/>
            For example, in curl: <b>curl - 3 url</b>
        </p>
        <p>
            <b>Your API Key</b><br/>
            Your “api key” to talk to our API is your App Name as defined in the Administration App,
            For each request, you can :
        <ol>
            <li>
                Append app_name=yourappname to the querystring or
            </li>
            <li>
                Send a request header called <b>X-DreamFactory-Application-Name</b> with the value of your app name.
            </li>
        </ol>

        <p><b>Authentication</b>
            <br/>
            If your application is not part of the guest user’s role, then access to any service or data components will require authentication.
            <br/>
            To authenticate a user, simply POST a JSON string to /user/session that takes on the following format: ‘{“email”:”email_value”, “password”:”password_value”}’
            <br/>
            If successful, in the response, you’ll see a session_id has been created.<br/>
            <b>Very Important</b> : For all future requests to the API, you’ll need to pass the session_id as a new request header called <b>X-DreamFactory-Session-Token</b> 


            <!--<div data-ng-show="app.native != '1' && app.storage_service_id != null">-->
            <!--<h3>Here is your app.</h3>-->
            <!--<h5>Click on the Files link in the left nav to start editing.</h5>-->
            <!--<iframe id="app-preview" src="" frameBorder="0"></iframe>-->
            <!--</div>-->
            <br/>New content regarding dev and deployment<br/><br/>
        <div class="btn-group">
            <button class="btn" data-ng-click="setStep(3)" data-ng-show="app.native != 1">Previous</button><button class="btn btn-success" data-ng-click="launchApp()" data-ng-show="app.native != 1 && app.storage_service_id != null">Launch My App</button>
        </div>
    </div>
    <iframe style="display:none" id="sdk-download" src=""></iframe>
</div>

