<h4>Services<a ng-click="promptForNew()" class="btn btn-small pull-right btn-primary"><li class="icon-plus-sign-alt"></li> Create New Service</a></h4>
<table style="width:100%" ng-controller="ServiceCtrl">
    <tr>
        <td id="item-list">
            <div id="grid-table" class="well" >
                <table id="app-list" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Name</th>

                        <th class="no-border"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="service in Services.record" id="row_{{service.id}}">
                        <td ng-click="showDetails()">{{service.name}}</td>
                        <td class="no-border">
                            <div class="btn-group">
                                <a class="btn btn-small btn-inverse" ><i class="icon-edit"></i></a>
                                <a class="btn btn-small btn-inverse" ng-click="delete()"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="app-details" class="well">
            <div>
                <div class="detail-view"></div>

                <div class="add_new">
                    <h5 class="text-info">{{action}} service</h5>

                    <div id="step1">
                        <div class="section">
                            <p>Type</p>
                            <input type="text" ng-model="service.type" value="Remote Web Service" disabled="disabled"/>

                        </div>


                        <div class="section">
                            <p>Service Name</p>
                            <input ng-model="service.name" type="text"/>
                        </div>
                        <div class="section">
                            <p>API Name</p>
                            <input ng-model="service.api_name" type="text"/>
                        </div>
                        <div class="section">
                            <p>Description</p>
                            <input ng-model="service.description" type="text"/>
                        </div>
                        <div class="section">
                            <p>Base URL</p>
                            <input ng-model="service.base_url" type="text"/>
                        </div>
                        <div class="section">
                            <p>Parameters</p>
                            <input ng-model="service.parameters" type="text"/>
                        </div>
                        <div class="section">
                            <p>Headers</p>
                            <input ng-model="service.headers" type="text"/>
                        </div>
                        <div class="section">
                            <input ng-checked="service.is_active" type="checkbox" ng-model="service.is_active"/>&nbsp;Active
                        </div>
                        <!--<div class="section">-->
                            <!--<p>Storage Name</p>-->
                            <!--<input ng-model="service.storage_name" type="text"/>-->
                        <!--</div>-->
                        <!--<div class="section">-->
                            <!--<p>Storage Type</p>-->
                            <!--<input ng-model="service.storage_type" type="text"/>-->
                        <!--</div>-->
                        <!--<div class="section">-->
                            <!--<p>Credentials</p>-->
                            <!--<input ng-model="service.credentials" type="text"/>-->
                        <!--</div>-->
                        <!--<div class="section">-->
                            <!--<p>Native Format</p>-->
                            <!--<input ng-model="service.native_format" type="text"/>-->
                        <!--</div>-->
                        <div id="button_holder">
                            <a id="save_button" ng-click="create()" class="btn btn-primary">
                                <li class="icon-save"></li>
                                &nbsp;Save</a>
                            <a id="update_button" ng-click="save()" class="btn btn-primary">
                                <li class="icon-save"></li>
                                &nbsp;Update</a>
                        </div>

                    </div>

                </div>
            </div>

        </td>
    </tr>
</table>

