<table style="width:100%" >
    <tr>
        <td id="item-list" class="well">
            <div id="grid-table" >
                <table id="app-list" class="table table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Display Name</th>

                        <th class="no-border"></th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="user in Users.record" id="row_{{user.id}}">
                        <td ng-click="showDetails()">{{user.display_name}}</td>
                        <td class="no-border">
                            <div ng-show="user.user_source == 0 && user.confirm_code != 'y'" class="btn-group pull-right">
                                <a class="btn btn-small btn-inverse" title="Reinvite unconfirmed user" ng-click="invite(false)"><i class="icon-envelope"></i></a>
                                <a class="btn btn-small btn-inverse" title="Delete this user" ng-click="delete()"><i class="icon-trash"></i></a>
                            </div>
                            <div ng-show="user.user_source > 0 || (user.user_source == 0 && user.confirm_code == 'y')" class="btn-group pull-right">
                                <a class="btn btn-small btn-inverse" title="Delete this user" ng-click="delete()"><i class="icon-trash"></i></a>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </td>
        <td>&nbsp;</td>
        <td id="app-details" class="well">
            <div class="navbar">
                <div class="navbar-inner"><div class="brand">Users</div>
                    <div class="btn-group pull-right">
                        <a ng-click="promptForNew()" class="btn btn-small">
                            <li class="icon-plus-sign-alt"></li>
                            Create New User</a>
                    </div>
                </div>
            </div>
            <div>
                <div class="detail-view"></div>

                <form novalidate class="css-form" name="userform">
                    <div class="add_new">
                        <span class="label label-info"><i class="icon-user"></i>&nbsp;{{action}} User</span>

                        <div id="step1">
                            <div class="section">
                                Email :  <input ng-model="user.email" type="email" required/>
                                <br/>
                                First Name : <input class="input-small" ng-model="user.first_name" type="text" required/>
                                Last Name :  <input class="input-small" ng-model="user.last_name" type="text" required/>
                                <br/>
                                Display Name : <input ng-model="user.display_name" type="text"/>
                                <br/>
                                Phone : <input ng-model="user.phone" type="tel"/>
                            </div>
                            <div class="section" ng-class="{'alert alert-success': user.is_sys_admin}">
                                <input ng-click="toggleRoleSelect($event.target.checked)"  ng-checked="user.is_sys_admin" type="checkbox" ng-model="user.is_sys_admin"/>&nbsp;This is a System Administrator
                            </div>
                            <div class="section">
                                <p>Assign a Role</p>
                                <div class="alert alert-info">
                                    <li class="icon-info-sign"></li>
                                    Roles provide a way to grant or deny access to specific applications and services on a per-user basis. Each user who is not a system admin must be assigned a role. Go to the Roles tab to create and manage roles.
                                </div>
                                <div>
                                    <select ng-disabled="user.is_sys_admin" ng-model="user.role_id">
                                        <option ng-selected = "user.role_id == role.id" ng-repeat="role in Roles.record" value="{{role.id}}">{{role.name}}</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="section" ng-class="{'alert alert-success': user.is_active}">
                            <input ng-checked="user.is_active" type="checkbox" ng-model="user.is_active"/>&nbsp;Active
                        </div>
                        <div class="section" ng-hide="user.user_source > 0">
                            <div ng-show="action=='Create' && defaultEmailService != null">
                                <input ng-checked="passwordEdit" type="checkbox" ng-model="passwordEdit"/>&nbsp;Skip email confirmation and set password manually
                            </div>
                            <div  class="alert alert-info" ng-show="action=='Create' && defaultEmailService == null">
                                <li class="icon-info-sign"></li>If you'd like send an invite message via email, please configure an email service in the Services section of this application.
                            </div>
                            <div ng-show="action=='Edit'">
                                <input ng-checked="passwordEdit" type="checkbox" ng-model="passwordEdit"/>&nbsp;Change password
                            </div>
                            <div ng-show="action=='Create' && defaultEmailService == null">
                                <input ng-checked="passwordEdit" type="checkbox" ng-model="passwordEdit"/>&nbsp;Set password
                            </div>
                            <div ng-show="passwordEdit ">
                                <br/>
                                Password : <input id="password" name="password" type="password" ng-model="user.password">
                                <br/>
                                Verify Password : <input id="passwordRepeat" name="passwordRepeat" type="password" ng-model="passwordRepeat">
                            </div>
                        </div>
                        <br/>

                        <div id="button_holder">
                            <button id="save_button" ng-show="action=='Create'" ng-click="create()" class="btn btn-primary" ng-disabled="userform.$invalid">
                                <li class="icon-save"></li>
                                &nbsp;Save</button>
                            <button id="update_button" ng-show="action=='Edit'" ng-click="save()" class="btn btn-primary" ng-disabled="userform.$invalid">
                                <li class="icon-save"></li>
                                &nbsp;Update</button>
                        </div>

                    </div>
                </form>

            </div>
            </div>

        </td>
    </tr>
</table>

